body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: white;
  font-family: cursive;
}


a {
  text-decoration: none;
  color: #ffa9a9c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 191px;
  width: 190px;
  font-size: large;
}


a p {
  margin-top: -25px;
}

nav {
  padding-left: 7%;
  padding-right: 13%;
  height: 100px;
  background-color: #6f69693d;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.App {
  margin: 45px;
}


.ScrumInfo {
  background-color: #ff40403b;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.scrumHeading {

  background-color: #757e4196;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.AgilaTeam {
  background-color: #65699c82;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.scrumCeremonier {
  background-color: #544a4a;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.scrumConcept {

  background-color: #31652e85;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.container a {
  background-color: #f43636a1;
  width: 104px;
  border: none;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.itemContainer {
  background-color: #544a4a;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.header-pic {
  width: 1170px;

}

img {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.container,
.ScrumConceptContainer,
.teamContainer,
.ScrumCeremonierContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}