body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: white;
  font-family: cursive;
}


a {
  text-decoration: none;
  color: aliceblue;
  width: 174px;
  display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 191px;
    width: 174px;
}


a p {
  margin-top: -25px;
}

nav {
    padding-left: 7%;
    padding-right: 13%;
    height: 100px;
    background-color: #a26e6e8a;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.App{
  margin: 45px;
  
}



.ScrumInfo {
  background-color: #ff40403b;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;

}

.scrumHeading {

  background-color: #757e4196;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
}

.AgilaTeam {
  background-color: #65699c82;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;

}

.scrumCeremonier {
  background-color: #544a4a;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;

}

.scrumConcept {

  background-color: #31652e85;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
}

.container a {
  background-color: #f43636a1;
  width: 104px;
  border: none;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
  color: white;
  /* font-weight: bold; */
}



.itemContainer {
  background-color: #544a4a;
  width: 1147px;
  border-radius: 35px;
  padding: 8px;
  margin: 15px;
}





